.btn 
{
    box-shadow: none !important;
    border: none !important;
    transition: all 0.25s ease !important;
    text-decoration: none !important;
    color: #fff !important;
    font-weight: 500;
    border-radius: 6px;
    padding: 0.6rem 1rem;
    display: inline-block;
}

 btn:focus,
 .btn:active 
 {
     box-shadow: none !important;
     outline: none !important;
 }

.btn-edit {
    background-color: #2563eb !important;
}

.btn-edit:hover,
.btn-edit:focus,
.btn-edit:active 
{
     background-color: #1e40af !important;
     color: #fff !important;
}


.btn-delete 
{
    background-color: #dc2626 !important;
}

.btn-delete:hover,
.btn-delete:focus,
.btn-delete:active 
{
    background-color: #991b1b !important;
    color: #fff !important;
}

.save-btn 
{
    background: linear-gradient(135deg, #7c3aed, #4f46e5) !important;
}

.save-btn:hover,
.save-btn:focus,
.save-btn:active 
{
    background: linear-gradient(135deg, #5b21b6, #3730a3) !important;
    color: #fff !important;
}

a.btn 
{
    text-decoration: none !important
}